.bg-lightBlue{
    background-color: rgb(161, 222, 233);
}
@media (max-width: 400px) {
    .containButtons{
        width: 80%;
        
    }
    .buttonSize{
      
        font-size: 0.7rem;
    }
 }

 @media (min-width: 700px) {
    .containButtons{
        width: 50%;
    }
 }
 .link{
     text-decoration: none !important;
 }